<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pending Work !!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href=".\css\main.css">

</head>

<body>
    <header>

        <div class="head">
            <i class="fa-solid fa-list-check"></i>
            <h1>TO DO LIST</h1>
        </div>
        <div class="day">
            <h1>DAY</h1>
        </div>
    </header>

    <section class="in">
        <form action="/create" method="POST">
            <div class="cont">
                <textarea name="task" class="taskbar" cols="50" rows="6" placeholder="  Enter your task...."></textarea>
                <div class="second"><select class="category" name="category">
                        <option value="">--Please choose an option--</option>
                        <option value="personal">PERSONAL</option>
                        <option value="work">WORK</option>
                        <option value="grocery">GROCERY-LIST</option>
                    </select>
                    <input type="date" class="date" name="date">
                </div>
                <div class="third">
                    <input type="submit" class="button">
                    <input type="reset" class="delete">
                </div>
            </div>
        </form>
        <div class="disp">
            <h1>TASKS</h1>
            <div class="items"></div>
            <ol>

                <% for(let list of lists) {%>
                    <li>
                        <%= list.task %>
                            <br>
                            <%= list.category %>
                                <br>
                                <%= list.date %>
                    </li>


                    <% } %>

            </ol>
        </div>
        </div>

    </section>

    <script src=".\js\first.js"></script>
</body>