<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pending Work !!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href=".\css\main.css">

</head>

<body>
    <header>

        <div class="head">
            <i class="fa-solid fa-list-check fa-2x"></i>
            <h1>TO DO LIST</h1>
        </div>
        <div class="day">
            <h1>DAY</h1>
        </div>
    </header>

    <section class="sec">
        <div class="in">
            <form action="/create" method="POST">
                <div class="cont">
                    <textarea name="task" class="taskbar" cols="50" rows="2"
                        placeholder="  Enter your task...."></textarea>
                    <div class="second"><select class="category" name="category">
                            <option value="">--Please choose an option--</option>
                            <option value="PERSONAL">PERSONAL</option>
                            <option value="WORK">WORK</option>
                            <option value="GROCERY-LIST">GROCERY-LIST</option>
                        </select>
                        <input type="date" class="date" name="date">
                    </div>
                    <div class="third">
                        <input type="submit" class="button">
                        <a href="reset" class="delete" role="button" name="resetForm">
                            <div class="lst"> Reset</div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="disp">
            <h1 class="lasthead">TASKS</h1>
            <ol class="ordered">

                <% for(let list of lists) {%>
                    <div class="liem">
                        <div class="but">
                            <li>
                                <div class="task-style">
                                    <%= list.task %>
                                </div>
                                <br>
                                <%= list.category %>
                                    <br>
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <%= list.date %>
                            </li>
                        </div>
                        <div class="dltbtn">
                            <a href="/delete/?id=<%= list._id %>"> <i class="fa-solid fa-trash-can fa-2x"></i></a>
                        </div>
                    </div>
                    <% } %>

            </ol>
        </div>
        </div>

    </section>

    <script src=".\js\first.js"></script>
</body>